@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

html {
  --white: #ffffff;
  --white001: #D6D6D6;
  --grey: #a1a1a1;
  --grey001: #2E2E2E;
  --black: #000000;
  --black001: #171717;
  --black002: #1a1a1a;
  --red: #d7214c;
  --green: #11A758;
  --bluePurple: #7E5EFF;
  --bluePurple001: #7D11FB;
  --bluePurple002: #8f00ff;
  --bluePurple003: #4200fd;

  --background-dark-color: #121113;
  --items-dark-color: #232225;
  --button-dark-blue-color: #303374;
  --primary-text-color: #EEEEF0;
  --secondary-text-color: #B5B2BC;
  --border-dark-grey-color: #3C393F;
  --confirm-background-color: #174933;
  --cancel-background-color: #611623;
  --cancel-border-color: #8C333A;
  --cancel-text-color-dark: #FF9592;


  /* -- gradient -- */
  --gradient-black: rgba(0, 0, 0, 0.502);

  --font-family: 'Readex Pro', sans-serif;
}

body {
  width: 632px;
  height: 580px;
  background-color: var(--background-dark-color);
  color: #fff;
  font-family: var(--font-family);
  font-size: 20px;
  border-radius: 8px;
}

textarea:focus, input:focus {
  outline: none;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: var(--black002);
  border-radius: 5px;
}

.displayNone {
  display: none;
}

.textColorRed {
  color: var(--cancel-text-color-dark);
}

.textColorPrimary {
  color: var(--primary-text-color);
}

.center {
  text-align: center;
}

.background {
  border-radius: 8px;
  padding: 8px;
  background-color: var(--black002);
  color: var(--white001);
  text-align: start;
}