@import url(styles/variables.css);

.navMenu {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.addNote {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 6px;
}

.logoAll {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo {
  background: linear-gradient(36deg, var(--bluePurple002) 18%, var(--bluePurple003) 100%);
  padding: 5px;
  border-radius: 8px;
  margin-left: 6px;
}

.logo2 {
  color: var(--grey);
}

.buttonAdd {
  border-radius: 8px;
  border: 2px solid var(--bluePurple);
  background-color: var(--black001);
  font-size: 20px;
  color: var(--white001);
  cursor: pointer;
  padding: 4px;
  font-family: var(--font-family);
}

.buttonAdd:hover {
  background-color: var(--bluePurple);
  color: var(--white);
}

#itemList {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}

.allElement {
  display: flex;
  background-color: var(--black002);
  border-radius: 8px;
  margin: 5px;
  padding-bottom: 10px;
}

.zdtDiv {
  margin-left: 8px;
  margin-top: 4px;
  width: 228px;
  padding-left: 6px;
  overflow: hidden;
}

.zdtName {
  display: block;
  padding-top: 8px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zdtDesc {
  display: block;
  padding-top: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moreIcon {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 9px 15px 0px 0px;
}

.iDelete {
  background-color: var(--red);
  border-radius: 4px;
  width: 28px;
  cursor: pointer;
}

.iEdit {
  background-color: var(--green);
  border-radius: 4px;
  width: 28px;
  cursor: pointer;
}

.footer {
  font-size: small;
  color: var(--grey);
  padding-bottom: 10px;
  bottom: 0px;
  left: 35%;
  text-align: center;
}

/* Styles pour la modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--gradient-black);
}

.modal-content {
  display: flex;
  gap: 23px;
  background-color: var(--black);
  width: 380px;
  height: 390px;
  margin: 72px 0px 0px 100px;
  padding: 20px;
  flex-direction: column;
  border-radius: 16px;
  border: 2px solid var(--bluePurple);
}

.modal-content input {
  border-radius: 8px;
  padding: 16px 8px;
  border: none;
  background-color: var(--black002);
  color: var(--white001);
  font-size: 16px;
}

.modal-content textarea {
  font-size: 16px;
  border-radius: 8px;
  padding: 16px 8px;
  border: none;
  background-color: var(--black002);
  color: var(--white001);
  width: 365px;
  height: 180px;
  resize: none;
  overflow: hidden;
  overflow-y: scroll;
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--white001);
  border-radius: 5px;
}

textarea::-webkit-scrollbar-track {
  background-color: var(--black002);
  border-radius: 5px;
}


.editName {
  font-size: larger;
}

.custom-underline {
  position: relative;
  display: inline-block;
}

.custom-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 70%;
  height: 2px;
  background-color: var(--bluePurple001);
}

.btnBottom {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.buttonCancel {
  border-radius: 8px;
  border: 2px solid var(--red);
  background-color: var(--black001);
  font-size: 20px;
  color: var(--white001);
  cursor: pointer;
  padding: 4px;
}

.buttonCancel:hover {
  background-color: var(--red);
}

.buttonEdit {
  border-radius: 8px;
  border: 2px solid var(--bluePurple);
  background-color: var(--black001);
  font-size: 20px;
  color: var(--white001);
  cursor: pointer;
  padding: 4px;
}

.buttonEdit:hover {
  background-color: var(--bluePurple);
  color: var(--white);
}

.links {
  list-style-type: none;
  color: var(--white001);
}

.modal-content-confirm {
  display: flex;
  gap: 23px;
  background-color: var(--black);
  width: 380px;
  margin: 72px 0px 0px 100px;
  padding: 20px;
  flex-direction: column;
  border-radius: 16px;
  border: 2px solid var(--bluePurple);
}

.modal-content-confirm input {
  border-radius: 8px;
  padding: 16px 8px;
  border: none;
  background-color: var(--black002);
  color: var(--white001);
  font-size: 16px;
}

.buttonDelete {
  border-radius: 8px;
  border: 2px solid var(--bluePurple);
  background-color: var(--black001);
  font-size: 20px;
  color: var(--white001);
  cursor: pointer;
  padding: 4px;
}

.buttonDelete:hover {
  background-color: var(--bluePurple);
  color: var(--white);
}

.search {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: var(--grey001);
  font-size: 20px;
  color: var(--white001);
  padding: 4px;
}

.search img {
  width: 28px;
}

.search input {
  background: none;
  border: 0px;
  font-size: 20px;
  color: var(--white001);
  width: 150px;
}

.search input::placeholder {
  font-size: 20px;
  font-family: var(--font-family);
}

.lineSeparator {
  height: 2px;
  background-color: var(--grey001);
}