/*-- Todo - Popup --*/
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

body {
  width: 600px;
  height: 580px;
  background-color: #000000;
  color: #fff;
  font-family: 'Readex Pro', sans-serif;
  font-size: 20px;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.addNote {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 6px;
}

.addNote input {
  border-radius: 10px;
  height: 100%;
}

.logo {
  background: linear-gradient(36deg, rgba(143,0,255,1) 18%, rgba(66,0,253,1) 100%);
  padding: 5px;
  border-radius: 8px;
  margin-left: 6px;
}

.buttonAdd {
  border-radius: 8px;
  border: 1px solid #7E5EFF;
  background-color: #171717;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
}

#itemList {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.allElement {
  display: flex;
  background-color: #1A1A1A;
  border-radius: 8px;
  margin: 5px;
}

.zdtDiv {
  margin-left: 8px;
  margin-top: 4px;
  width: 228px;
  height: 120px;
  padding-left: 6px;
  overflow-wrap: break-word;
}

.zdtName {

}

.zdtDesc {
  
}

.moreIcon {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 9px 15px 0px 0px;
}

.iDelete {
  background-color: #D7214C;
  border-radius: 4px;
  width: 28px;
  cursor: pointer;
}

.iEdit {
  background-color: #11A758;
  border-radius: 4px;
  width: 28px;
  cursor: pointer;
}

.footer {
  font-size: small;
  color: #a1a1a1;
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
}